//
// user-variables.scss
// Use this to overwrite Bootstrap and theme variables
//

$gray-700-dark: #2a2a2a !default;
$gray-800-dark: #222222 !default;
$gray-900-dark: #1a1a1a !default;
$black-dark: #121212 !default;
$black: #121212 !default;
$enable-negative-margins: true;