<div class="container mt-6">
    <div class="row mb-4 mb-lg-6 pt-4" style="border-top: 1px solid; border-image-source: linear-gradient(
    to right,
    #121212 88%, #e4632f, #FF16BE) !important; border-image-slice: 1;">
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <div class="navbar-brand mr-lg-3"><img src="./assets/img/logo.png"
            alt="..." class="navbar-brand-img mr-2"><span 
            class="h4 text-white d-lg-none ms-2">Timeless</span></div>
      </div>
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <h5 class="pl-3 text-uppercase text-muted">Join the community</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="https://twitter.com/timeless_fi" target="_blank" class="nav-link text-white ps-0">Twitter</a>
          </li>
          <li class="nav-item">
            <a href="https://discord.gg/MncaVpY9ZV" target="_blank" class="nav-link text-white ps-0">Discord</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <h5 class="pl-3 text-uppercase text-muted"> Protocol </h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="https://docs.timelessfi.com" target="_blank" class="nav-link text-white ps-0">Docs</a>
          </li>
          <li class="nav-item">
            <a href="https://blog.timelessfi.com/" target="_blank" class="nav-link text-white ps-0">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/timeless-fi" target="_blank" class="nav-link text-white ps-0">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-start pb-6">
      <div class="col-12 col-lg-7 mb-3">
        <h5 class="text-uppercase"> Current version audited &amp; secured by </h5>
        <a href="https://github.com/spearbit/portfolio/blob/master/pdfs/Timeless-Spearbit-Security-Review.pdf" target="_blank" rel="noopener noreferrer">
          <img src="./assets/img/spearbitlogo.png" alt="" class="d-inline-block mr-4 mb-3" style="height: 24px;">
        </a>
      </div>
    </div>
  </div>