<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="row align-items-center justify-content-between mb-3">
        <div class="col">
          <h1 class="mb-0">Mint PYT (or xPYT) & NYT</h1>
        </div>
      </div>
      <!-- FROM -->
      <div class="card card-inner-shadow mb-0">
        <div class="card-header py-4">
          <h2 class="h5 mb-0 text-uppercase text-secondary">From</h2>
        </div>
        <div class="card-body py-0">
          <div class="row g-3 align-items-start mb-3">
            <div class="col-6">
              <span title="{{ selectedToken.name }}" (click)="openTokenSelectModal()" style="cursor: pointer;">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <div class="avatar">
                      <img src="{{ selectedToken.iconPath }}" alt="{{ selectedToken.symbol }} Icon"
                        class="avatar-img rounded-circle" onerror="this.src = 'assets/img/tokens/unknown.svg'" />
                    </div>
                  </div>
                  <div class="col-9">
                    <h3 class="mb-1 name text-white text-truncate">
                      {{ selectedToken.symbol }}
                      <span class="fe fe-chevron-down text-white"></span>
                    </h3>
                    <div class="d-flex align-items-center">
                      <p class="small mb-0 text-secondary text-truncate mb-0 me-1">
                        {{ selectedToken.name }}
                      </p>
                      <a
                          href="{{ constants.CHAIN_METADATA[wallet.chainId].blockExplorerUrls[0] }}/address/{{ selectedToken.address }}"
                          target="_blank"
                          class="fe fe-external-link text-secondary"
                          (click)="$event.stopPropagation()">
                        </a>
                    </div>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-6 text-end">
              <h2 class="mb-1 name text-white text-truncate">
                <label for="mint-amount" class="form-label d-none">
                  Mint Amount
                </label>
                <input type="text" class="form-control form-control-flush form-control-md input-sm text-end"
                  name="mint-amount" id="mint-amount" aria-describedby="helpId" placeholder="0.00"
                  [value]="underlyingAmount.toFixed()" (input)="setMintAmount($event.target.value)"
                  autocomplete="off" />
              </h2>
              <p class="small mb-0 text-secondary">
                Balance: {{ underlyingBalance.toFormat(4) }}
                <button class="btn btn-sm btn-link pt-0 px-0" (click)="setMintAmount(underlyingBalance)">
                  Max
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END FROM -->
      <div class="row justify-content-center align-items-center my-n3">
        <button type="submit" class="btn btn-rounded-circle btn-switch" routerLink="/burn">
          <i class="fe fe-arrow-down"></i>
        </button>
      </div>
      <!-- TO -->
      <div class="card card-inner-shadow mb-0">
        <div class="card-header py-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <h2 class="h5 mb-0 text-uppercase text-secondary">To</h2>
            </div>
            <div class="col-auto d-flex" *ngIf="!useVaultShares">
              <select class="form-select form-select-sm" name="gate-select" (change)="selectGate($event.target.value)">
                <option value="{{ gate.address }}" *ngFor="let gate of availableGates"
                  [selected]="gate === selectedGate">
                  {{ gateService.getGateName(gate.address, wallet.chainId) }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body py-0">
          <div class="row g-3 align-items-center mb-3">
            <div class="col-6">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="{{ selectedVault.nyt.iconPath }}" alt="{{ selectedVault.nyt.symbol }} Icon"
                      class="avatar-img rounded-circle border-nyt"
                      onerror="this.src = 'assets/img/tokens/unknown.svg'" />
                  </div>
                </div>
                <div class="col text-truncate">
                  <h3 class="mb-1 name text-white text-truncate">
                    {{ selectedVault.nyt.symbol }}
                  </h3>
                  <div class="d-flex align-items-center">
                    <p class="small mb-0 text-secondary text-truncate me-1" title="{{ selectedVault.nyt.name }}">
                      {{ selectedVault.nyt.name }}
                    </p>
                    <a href="{{ constants.CHAIN_METADATA[wallet.chainId].blockExplorerUrls[0] }}/address/{{ selectedVault.nyt.address }}"
                      target="_blank" class="fe fe-external-link text-secondary" (click)="$event.stopPropagation()">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 text-end">
              <h3 class="mb-1 name text-white text-truncate">
                {{ nytReceived.toFormat(3) }}
              </h3>
              <p class="small mb-0 text-secondary">
                ${{ nytReceived.times(nytPriceUSD).toFormat(2) }}
              </p>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-8">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="{{
                        useWrappedPYT
                          ? selectedXPYT.iconPath
                          : selectedVault.pyt.iconPath
                      }}" alt="{{
                        useWrappedPYT
                          ? selectedXPYT.symbol
                          : selectedVault.pyt.symbol
                      }} Icon" class="avatar-img rounded-circle border-pyt"
                      onerror="this.src = 'assets/img/tokens/unknown.svg'" />
                  </div>
                </div>
                <div class="col text-truncate"
                  [ngClass]="{'clickable': useWrappedPYT && selectedVault.xpyt.length > 1}"
                  (click)="useWrappedPYT && selectedVault.xpyt.length > 1 && openTokenSelectModal(true)">
                  <h3 class="mb-1 name text-white text-truncate">
                    {{
                    useWrappedPYT
                    ? selectedXPYT.symbol
                    : selectedVault.pyt.symbol
                    }}
                    <span class="fe fe-chevron-down text-white" *ngIf="useWrappedPYT && selectedVault.xpyt.length > 1">
                    </span>
                  </h3>
                  <div class="d-flex align-items-center">

                    <p class="small mb-0 text-secondary mb-0 text-truncate me-1" title="{{
                    useWrappedPYT
                      ? selectedXPYT.name
                      : selectedVault.pyt.name
                  }} ({{
                    useWrappedPYT
                      ? selectedXPYT.address.slice(0, 5)
                      : selectedVault.pyt.address.slice(0, 5)
                  }}...{{
                    useWrappedPYT
                      ? selectedXPYT.address.slice(38, 42)
                      : selectedVault.pyt.address.slice(38, 42)
                  }})">
                      {{
                      useWrappedPYT
                      ? selectedXPYT.name
                      : selectedVault.pyt.name
                      }}
                      <span class="ms-1">
                        ({{
                        useWrappedPYT
                        ? selectedXPYT.address.slice(0, 5)
                        : selectedVault.pyt.address.slice(0, 5)
                        }}...{{
                        useWrappedPYT
                        ? selectedXPYT.address.slice(38, 42)
                        : selectedVault.pyt.address.slice(38, 42)
                        }})
                      </span>
                    </p>
                    <a href="{{ constants.CHAIN_METADATA[wallet.chainId].blockExplorerUrls[0] }}/address/{{ useWrappedPYT ? selectedXPYT.address : selectedVault.pyt.address }}"
                      target="_blank" class="fe fe-external-link text-secondary" (click)="$event.stopPropagation()">
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 text-end">
              <h3 class="mb-1 name text-white text-truncate">
                {{ pytReceived.toFormat(3) }}
              </h3>
              <p class="small mb-0 text-secondary">
                ${{ pytReceived.times(pytPriceUSD).toFormat(2) }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END TO -->
      <!-- ADVANCED SETTINGS -->
      <a class="btn w-100 p-0" data-bs-toggle="collapse" href="#advancedSettings" role="button" aria-expanded="false"
        aria-controls="advancedSettings">
        <div class="row my-3">
          <div class="col text-start">
            <span class="text-secondary h4 mb-0 me-1">Advanced Settings</span>
          </div>
          <div class="col-auto mr-auto">
            <i class="fe fe-chevron-up text-secondary"></i>
            <i class="fe fe-chevron-down text-secondary"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="advancedSettings">
        <div class="card">
          <div class="table-responsive p-4">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td class="px-0 py-1 text-white border-0 small">
                    Use Vault Shares
                    <i class="fe fe-info align-bottom" tooltipClass="ms-2" placement="right" ngbTooltip="Mint using vault shares ({{
                        selectedVault.share.symbol
                      }}) instead of {{ selectedVault.underlying.symbol }}."></i>
                  </td>
                  <td class="px-0 py-1 text-white text-end border-0 small">
                    <div class="form-check form-switch d-flex justify-content-end">
                      <input class="form-check-input" type="checkbox" id="useVaultSharesToggle"
                        [checked]="useVaultShares" (change)="toggleUseVaultShares()" />
                    </div>
                  </td>
                </tr>
                <tr *ngIf="selectedVault.xpyt.length > 0">
                  <td class="px-0 py-1 text-white border-0 small">
                    Receive xPYT
                    <i class="fe fe-info align-bottom" tooltipClass="ms-2" placement="right"
                      ngbTooltip="Receive xPYT instead of PYT. xPYT auto-compounds your yield while PYT does not."></i>
                  </td>
                  <td class="px-0 py-1 text-white text-end border-0 small">
                    <div class="form-check form-switch d-flex justify-content-end">
                      <input class="form-check-input" type="checkbox" id="useWrappedPYT" [checked]="useWrappedPYT"
                        (change)="toggleUseWrappedPYT()" />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END ADVANCED SETTINGS -->
      <!-- ACTIONS -->
      <button type="button" class="btn btn-primary btn-lg w-100 ms-0" (click)="actionHandler()" [disabled]="!canMint()"
        *ngIf="wallet.userAddress">
        {{ mintMessage() }}
      </button>
      <button type="button" class="btn btn-primary btn-lg w-100 ms-0" (click)="openWalletModal()"
        *ngIf="!wallet.userAddress">
        Connect a Wallet
      </button>
      <!-- END ACTIONS -->
    </div>
  </div>
</div>
