<img src="./assets/img/circles-gradient.png" class="bg-circles-gradient position-absolute img-fluid z-10 d-none d-lg-block fade-in">
 
<div class="container py-5">
  
  <div class="row align-items-center" style="height: 80vh">

    <div class="col-12 text-center position-relative z-20">
      <h5 class="text-uppercase text-bg-gradient">Timeless</h5>
      <h1 class="display-1">Do more with your <span class="text-bg-gradient">yield</span></h1>
      <p class="h1 fw-normal mb-5 text-secondary">
        Timeless is a yield market protocol that lets you boost, hedge, and trade yield.
      </p>
      <a class="btn btn-lg btn-primary px-4 mb-7" routerLink="/boost">Launch app</a>
      <!-- <p class="display-4 fw-normal mb-0">
              $ 0.00
              <span class="lead text-secondary">
                is locked in Timeless across Ethereum and Arbitrum.
              </span>
            </p> -->
    </div>
  </div>
  <div class="row mb-7">
    <div class="col-12 col-lg-6 d-flex align-items-center">
      <div>
        <h2 class="display-2">Unlock your yield's potential</h2>
        <p class="lead fw-normal text-secondary">
          With Timeless, you can do so much more than putting your money in a
          yield farm.
        </p>
        <p class="lead fw-normal text-secondary mb-6">
          Boost your yield, hedge against falling yield rates, or speculate on
          yield rate changes.
        </p>
      </div>
      <!--  -->
    </div>
    <div class="col-12 col-lg-6">
      <div class="row row-cols-1 g-4">
        <div class="col">
          <div class="card card-inner-shadow h-100">
            <div class="card-body">
              <h3 class="h1">
                <i class="fe fe-zap text-bg-gradient me-2"></i>
                Boost your yield
              </h3>
              <p class="card-text text-secondary lead">
                Do you want to earn more yield? Timeless lets you do just that.
                Boost your yield by up to 2x for any supported farm.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-inner-shadow h-100">
            <div class="card-body">
              <h3 class="h1">
                <i class="fe fe-shield  text-bg-gradient me-2"></i>
                Hedge against falling yield rates
              </h3>
              <p class="card-text text-secondary lead">
                Worried that yield rates might fall? Timeless enables you to
                hedge against such risks. Earn a stable yield rate regardless of
                future rate changes.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-inner-shadow h-100">
            <div class="card-body">
              <h3 class="h1">
                <i class="fe fe-refresh-cw text-bg-gradient me-2"></i>
                Trade future yield changes
              </h3>
              <p class="card-text text-secondary lead">
                Do you think you know how yield rates might change? Timeless
                lets you put your money where your mouth is. Speculate on future
                yield rate changes by trading Timeless yield tokens.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-7">

    <div class="col-12">

      <div class="row text-center position-relative z-20 d-flex flex-column-reverse flex-lg-column align-items-center mb-7">
        <div class="col-12 col-lg-8">
          <h2 class="display-2">Yield tokens do the hard work</h2>
          <p class="h1 fw-normal text-secondary mb-lg-6">
            Timeless is powered by yield tokens, specially designed ERC-20 tokens
            whose values are related to yield rates. Each farm corresponds to a set
            of three yield tokens.
          </p>

        </div>
        <div class="col-12 col-lg-8">
          <img class="img-fluid w-50 mb-4 mb-lg-0" src="./assets/img/tokens/pyt-nyt-3d.png" alt="3d timeless">
        </div>
      </div>
      <img src="./assets/img/circles.svg" class="bg-circles position-absolute z-10 d-none d-lg-block img-fluid">
    
      <div class="row row-cols-1 row-cols-md-3 gy-7 gy-lg-0 g-md-4 position-relative z-20">
        <div class="col">
          <div class="card card-inner-shadow h-100">
            <div class="card-body">
              <div class="avatar avatar-xxl card-avatar card-avatar-top">
                <img src="./assets/img/tokens/pyt-eth-3d.png" class="avatar-img bg-transparent"
                  alt="..." />
              </div>
              <h3 class="h1 text-center orange mb-2">Perpetual Yield Token</h3>
              <p class="card-text lead fw-bold text-center">
                Boost and trade yield.
              </p>
              <p class="card-text text-secondary lead">
                PYT lets its holder claim the yield generated by the underlying
                assets. PYT goes up in price when the yield rate goes up.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-inner-shadow h-100">
            <div class="card-body">
              <div class="avatar avatar-xxl card-avatar card-avatar-top">
                <img src="./assets/img/tokens/nyt-eth-3d.png" class="avatar-img bg-transparent"
                  alt="..." />
              </div>
              <h3 class="h1 text-center blue mb-2">Negative Yield Token</h3>
              <p class="card-text lead fw-bold text-center">
                Hedge and trade yield.
              </p>
              <p class="card-text text-secondary lead">
                The price of NYT moves opposite to how the yield rate moves. If
                the rate goes up, NYT goes down; if the rate goes down, NYT goes
                up.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-inner-shadow h-100">
            <div class="card-body">
              <div class="avatar avatar-xxl card-avatar card-avatar-top">
                <img src="./assets/img/tokens/xpyt-3d.png" class="avatar-img bg-transparent"
                  alt="..." />
              </div>
              <h3 class="h1 orange text-center mb-2">
                <span class="text-white">Compounded</span> Perpetual Yield Token
              </h3>
              <p class="card-text lead fw-bold text-center">
                Auto-compound the yield earned into more PYT.
              </p>
              <p class="card-text text-secondary lead">
                xPYT makes it easier to boost your yield and decreases the
                  cost. It also makes it easier to integrate Timeless into
                  existing DeFi infrastructure.
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h2 class="display-2 text-center">FAQ</h2>
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item mb-0 bg-transparent border-0" *ngFor="let item of faqItems; index as i">
          <div class="accordion-header" [id]="'heading' + i">
            <button class="accordion-button h1 mb-0" [ngClass]="i !== 0 ? 'collapsed bg-transparent' : 'bg-transparent'" type="button"
              data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="i === 0"
              [attr.aria-controls]="'collapse' + i">
              {{ item.question }}
            </button>
          </div>
          <div [id]="'collapse' + i" class="accordion-collapse collapse card card-inner-shadow mb-0" [ngClass]="{ show: i === 0 }"
            [attr.aria-labelledby]="'heading' + i" data-bs-parent="#faqAccordion">
            <div class="accordion-body lead">
              {{ item.answer }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>